body {
  display: flex;
  justify-content: center;
  font-family: 'VT323', monospace;
  background-color: #232980;
}

.game {
  position: relative;
  padding-top: 60px;
}

.game__body {
  position: relative;
}

.game__body svg {
  width: 800px;
  fill: deeppink;
}

.controls {
  position: absolute;
  top: 718px;
  left: 297px;
}

.controls__button {
  position: absolute;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: yellow;
  cursor: pointer;
}

.controls__button:hover {
  background-color: #d6d603;
}

.controls__button:nth-child(2) {
  top: 20px;
  left: 79px;
}

.controls__button:nth-child(3) {
  left: 158px;
}

.game__screen {
  position: absolute;
  top: 360px;
  left: 260px;
  background: #efefef;
  width: 280px;
  height: 280px;
  border-radius: 16px;
}

.game__screen canvas {
  position: absolute;
}

.game__options {
  display: none;
  position: absolute;
  background: #efefef;
  width: 280px;
  height: 280px;
  border-radius: 16px;
}

.game__options.visible {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game__options > div {
  color: #666;
  font-family: 'VT323';
  font-size: 80px;
  cursor: pointer;
}

.game__options > div:hover {
  color: #444;
}

.game__options > div:hover:before {
  content: '>';
}

.background {
  width: 100%;
  height: 100%;
}

.animation {
  bottom: 4%;
}
